:root {
  --orange: #D09248;
  --lightgrey: #f3f0ee;
  --black: #4d3f24;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--black);
  background-color: #fffbf6;
}

main {
  padding: 0 18px;
}

.App {
  height: 100vh;
}

@media screen and (min-width: 700px){
  .App {
    width: 75%;
    margin: auto;
  }
}

.app--results {
  font-size: 13px;
  color: #B8B8B8;
  text-decoration: underline;
  margin-top: -14px;
}

.header {
  background-color: var(--lightgrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  box-shadow: 0px 0px 10px var(--lightgrey);
  position: relative;
}

.header--logo {
  margin: 0;
  font-family: 'Courgette', cursive;
  font-size: 2em;
  color: var(--orange);
}

.header--icons {
  display: flex;
  gap: 10px;
}

.header--heart-icon-container {
  position: relative;
  cursor: pointer;
}

.header--saved-recipes-counter {
  position: absolute;
  right: -3px;
  top: -1px;
  background-color: orangered;
  min-width: 13px;
  height: 13px;
  border-radius: 100%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: var(--lightgrey);
}

.liked-recipes {
  backdrop-filter: blur(5px);
  background-color: #d093488a;
  box-shadow: 0px 0px 11px var(--black);
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 1;
  padding: 16px;
  max-height: 100vh;
  width: 100%;
  max-width: 500px;
  overflow-y: scroll;
  border-radius: 13px;
}

.recipe, .recipe--image, .recipe--tag {
  border-radius: 7px;
}

.recipe {
  background-color: var(--lightgrey);
  margin-bottom: 10px;
  display: flex;
  align-items: stretch;
  position: relative;
  overflow: hidden;
}

.recipe--image {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px){
  .recipe--image {
    width: 100px;
  }
}

.recipe--info {
  padding: 16px 10px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe--label {
  margin: 0;
  line-height: 1;
  font-size: 22px;
  font-weight: 500;
}

@media screen and (max-width: 500px){
  .recipe--label {
    font-size: 17px;
  }
}

.recipe--tags {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.recipe--tag {
  background-color: #b3906258;
  padding: 3px;
  font-size: 11px;
}

.recipe--url {
  display: flex;
  align-items: center;
  margin: 5px 0 1em 0;
  font-size: 13px;
  font-weight: bold;
  color: #9B6424;
}

@media screen and (max-width: 500px){
  .recipe--url, .recipe--tag {
    font-size: 11px;
  }
}

.recipe--favicon {
  margin-right: 0.7em;
}

.recipe--heart {
  background-color: var(--lightgrey);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px 0 7px 0;
  width: 25px; height: 25px;
  cursor: pointer;
}

.recipe--heart > img {
  width: 17px;
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 510px;
  margin: 43px auto;
}

.search--prompt {
  margin: 0 0 2px 13px;
  font-size: 10px;
}

.search--input {
  border-radius: 36px;
  padding: 10px 40px 10px 10px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border: none;
  background-color: #deb17c;
}

.search--button {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search--magnifying-glass-icon {
  display: block;
  width: 100%;
}