:root {
  --orange: #D09248;
  --lightgrey: #f3f0ee;
  --black: #4d3f24;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--black);
  background-color: white;
}

main {
  margin: auto;
  max-width: 800px;
}

@media screen and (max-width: 800px) {
  main {
    padding: 18px 18px;
  }
}

.App {
  min-height: 100vh;
}

.app--intro {
  max-width: 704px;
  margin: auto;
  text-align: center;
  font-size: 56px;
  margin-top: 0.5em;
}

@media screen and (max-width: 600px){
  .app--intro {
    font-size: 35px;
    margin-top: 1em;
    margin-bottom: -20px;
  }
  
}

.app--results {
  font-size: 13px;
  color: #B8B8B8;
  text-decoration: underline;
  margin-top: -14px;
  margin-left: 5px;
}

.app--burger-gif {
  width: 300px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.app--nothing-found {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  margin: 0;
}

.app--start-searching {
  display: block;
  max-width: 350px;
  margin: auto;
  margin-top: 70px;
}

.header {
  background-color: var(--lightgrey);
  
}

.header--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  box-shadow: 0px 0px 10px var(--lightgrey);
  position: relative;
  max-width: 800px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .header--content {
    padding: 18px 18px;
  }
}

.header--logo {
  margin: 0;
  font-family: 'Courgette', cursive;
  font-size: 2em;
  color: var(--orange);
}

.header--icons {
  display: flex;
  gap: 10px;
}

.header--heart-icon-container {
  position: relative;
  cursor: pointer;
}

.header--saved-recipes-counter {
  position: absolute;
  right: -3px;
  top: -1px;
  background-color: orangered;
  min-width: 13px;
  height: 13px;
  border-radius: 100%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: var(--lightgrey);
}

.liked-recipes {
  backdrop-filter: blur(5px);
  background-color: #d093488a;
  box-shadow: 0px 0px 11px var(--black);
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 1;
  padding: 16px;
  max-height: 100vh;
  width: 100%;
  max-width: 500px;
  overflow-y: scroll;
  border-radius: 13px;
}

.recipe--image, .recipe--tag {
  border-radius: 7px;
}

.recipe {
  background-color: #FFFFFF;
  border-radius: 24px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px #0000001a, 0 0 4px #0000001a;
  max-width: 800px; /* MAX WIDTH AND MIN IS 520PX */
  overflow: hidden;
  position: relative;
}

.recipe--main {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 20px 28px;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 12px;
}

.recipe--more-info {
  height: 0px;
  overflow: hidden;

  /* animation-name: reveal;
  animation-direction: alternate; */
}

.reveal-animation {
  animation-name: reveal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.reveal-animation-backwards {
  animation-name: reveal-backwards;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes reveal {
  from {
    height: auto;
    max-height: 0px;
  }
  to {
    height: auto;
    max-height: 500px;
  }
}

@keyframes reveal-backwards {
  from {
    height: auto;
    max-height: 500px;
  }
  to {
    height: auto;
    max-height: 0px;
  }
}

.recipe--image {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px){
  .recipe--image {
    width: 100px;
  }
}

.recipe--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.recipe--label {
  margin: 0;
  line-height: 25px;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 500px){
  .recipe--label {
    font-size: 17px;
  }
}

.recipe--tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.recipe--tag {
  background-color: #b3906258;
  padding: 3px 6px;
  font-size: 11px;
}

/* .recipe--more-info-btn {
  width: 144px; height: 36px;
  border-radius: 20px;
  background-color: #1AB76C;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
} */

.recipe--more-info-btn {
  width: 144px; height: 36px;
  border-radius: 20px;
  background-color: white;
  border:1px solid #d09348d2;
  color: #777777d3;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

.recipe--more-info-btn:hover {
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

.recipe--more-info-main {
  display: flex;
  background-color: #F3F3F3;
}

@media screen and (max-width: 600px){
  .recipe--more-info-main {
    flex-direction: column;
  }
}

.recipe--more-info-main > div {
  width: 100%;
  padding: 20px 28px;
}

.recipe--calories {
  text-align: center;
}

.recipe--servings {
  margin: 0;
  font-weight: 800;
}

.recipe--calories-number {
  font-size: 30px;
  margin-top: 0.5em;
  font-weight: 900;
}

.recipe--calories-number > span {
  font-size: 16px;
  font-weight: 600;
}

.recipe--list-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.recipe--list-item > p {
  margin: 2px;
}

.recipe--url {
  display: flex;
  align-items: center;
  margin: 0 0 2px 0;
  font-size: 16px;
  font-weight: 500;
  color: #777777;
  text-decoration: none;
}

@media screen and (max-width: 500px){
  .recipe--url, .recipe--tag {
    font-size: 11px;
  }
}

.recipe--favicon {
  margin-right: 0.4em;
}

.recipe--heart {
  background-color: #b3906258 /* #1AB76C */;
  position: absolute;
  top: 0;
  left: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  width: 28px; height: 40px;
  cursor: pointer;
}

.recipe--heart > img {
  width: 17px;
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 510px;
  margin: 43px auto;
}

.search--prompt {
  margin: 0 0 2px 13px;
  font-size: 10px;
  opacity: 50%;
}

.search--input {
  border-radius: 36px;
  padding: 10px 40px 10px 10px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border: none;
  background-color: #deb17c;
}

.search--button {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search--magnifying-glass-icon {
  display: block;
  width: 100%;
}

.footer {
  border-top: 1.5px solid #e9e9e9;
  color: var(--black);
  opacity: 65%;
  padding: 16px;
  text-align: center;
  font-size: smaller;
}

.footer > p {
  margin: 0;
}

.footer > p:nth-last-child(1) {
  margin-top: 5px;
}